:root{
    --vermelho:#E50914;
    --preta:#141414;
}
body{
    background:var(--preta);
    font-family: 'Times New Roman', Times, serif;

}   
header .container{

}
header .logo{
        color: var(--vermelho);
        font-family: 'Arial Black',Times;
        font-size: 40px;
}